<a href="https://colab.research.google.com/github/MazyVermoh/osnovy_programming/blob/main/lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

№ 4.2.1

Рассчитать значение f при заданном значении вещественного числа x:

![696DAE31-2D19-4171-8A8D-D35BB41A9303.png]()

In [2]:
x = int(input())

if x >= 0:
    f = (x**(1/2))+(x**2)
else:
    f = 1/x

print('Получившийся результат: ', round(f, 2))

# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

10
Получившийся результат:  103.16

№ 4.2.2

Определите максимальное и минимальное значения из двух различных целых чисел.

In [3]:
a1 = int(input('Введите первое целое число. '))
a2 = int(input('Введите второе целое число. ' ))

if a1 == a2:
    print('Числа одинаковы.')
else:
    if a1 > a2:
        print('Максимум: ', a1, 'Минимум: ', a2)
    else:
        print('Максимум: ', a2, 'Минимум: ', a1)

# --------------
# Пример вывода:
#
# Введите первое число: 4
# Введите второе число: 5
# Максимум: 4, минимум: 5

# Введите первое число: 7
# Введите второе число: 7
# Максимум:  7, минимум: 7

# Введите первое число: 242
# Введите второе число: -6
# Максимум: 242, минимум: -6

Введите первое целое число. 4
Введите второе целое число. 5
Максимум:  5 Минимум:  4

№ 4.2.3

Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

In [4]:
a = int(input('Введите значение ширины форточки: '))
h = int(input('Введите значение высоты форточки: '))
d = int(input('Введите значение диаметра головы мальчика: '))

if ((a or h or d) < 0):
    print('Ошибка. Невозможно выполнить скрипт. Вы ввели отрицательное значение.')
else:
    if ((a-1>=d) and (h-1>=d)):
        print('Да.')
    else:
        print('Нет.')

# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

Введите значение ширины форточки: 5
Введите значение высоты форточки: 6
Введите значение диаметра головы мальчика: 6
Нет.

№ 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [5]:
y_today = int(input('Введите текущий год: '))
m_today = int(input('Введите текущий месяц: '))

y_need = int(input('Введите год рождения: '))
m_need = int(input('Введите месяц рождения: '))

age = y_today-y_need

if (m_today or m_need)<=0:
    print('Нельзя выполнить скрипт.')
else:
    if m_need>m_today:
        print('Число полных лет:', age-1)
    else:
        print('Число полных лет:', age)

# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

Введите текущий год: 2017
Введите текущий месяц: 5
Введите год рождения: 2000
Введите месяц рождения: 1
Число полных лет: 17

№ 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax^2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [8]:
a = float(input('Введите значение a: '))
b = float(input('Введите значение b: '))
c = float(input('Введите значение c: '))

d = ((b**2)-(4*a*c))
if d<0:
    print('Решений нет.')
elif d==0:
    x1 = ((-1*b)/2*a)
    print('x = ', x1)
elif d>0:
    x2 = (((-1*b)+(d**(1/2)))/2*a)
    x1 = (((-1*b)-(d**(1/2)))/2*a)
    print('x1 =',x1,'x2 =',x2)

# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

Введите значение a: 1
Введите значение b: 2
Введите значение c: 3
Решений нет.

№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [7]:
x = int(input('Введите первое целое число: '))
n = list()

while x!=0:
    n.append(x)
    x = int(input('Введите дополнительное число: '))

print('Количество = ', len(n))
print('Сумма = ',sum(n))

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите первое целое число: 1
Введите дополнительное число: 2
Введите дополнительное число: 3
Введите дополнительное число: 4
Введите дополнительное число: 0
Количество =  4
Сумма =  10

№ 4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [10]:
n = int(input('Введите число n: '))

x = 0
print('0')

while x<=n:
    x = x+5
    if x<n:
      print(x)
    else:
      break

# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

Введите число n: 12
0
5
10

№ 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [12]:
y = list(map(int, input('Введите целое натуральное число: '))) #Вводим переменную с целым натуральным значением.

#Map использует каждый элемент введенного числа.
#List создает список.

y_sum = sum(y) #Складываю все элементы списка
y_count = len(y) #Рассчитываю количество элементов в списке

print('Сумма: ', y_sum)
print('Количество: ', y_count)

# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

Введите целое натуральное число: 12345
Сумма:  15
Количество:  5

№ 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [13]:
p = int(input('Введите грузоподъемность грузовика (кг.): '))
y = int(input('Введите количество предметов (шт.): '))

amount = list() #Ввожу список, чтобы суммировать его.
for x in range(y):
    f = int(input('Введите массу предмета (кг.): '))
    amount.append(f)

if sum(amount)>=p: #Ввожу проверку данных через if-else
    print('Нет.')
else:
    print('Да.')

# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

Введите грузоподъемность грузовика (кг.): 10
Введите количество предметов (шт.): 2
Введите массу предмета (кг.): 3
Введите массу предмета (кг.): 3
Да.

№ 4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [14]:
y = int(input('Введите количество районов: '))

total = list() #Вводим список для подсчета суммы собранной пшеницы в конце.
for x in range(y):
    s = float(input('Введите площадь района (га): ')) #Вводим пару вещественных чисел, как было написано в совете.
    p = float(input('Введите урожайность в районе (ц/га.): ')) 
    g = p*s
    total.append(g)

print(round(sum(total), 1))

# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

Введите количество районов: 3
Введите площадь района (га): 4
Введите урожайность в районе (ц/га.): 2
Введите площадь района (га): 7
Введите урожайность в районе (ц/га.): 3
Введите площадь района (га): 9
Введите урожайность в районе (ц/га.): 4
65.0

№ 4.2.17

Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [17]:
nums_sum = 0  #сумма
nums_count = 0  #кол-во

x = int(input('Введите число. '))
y = list()

while x!=0:
    nums_count = nums_count+1
    y.append(x)
    nums_sum = nums_sum+x
    x = int(input('Введите новое число. '))
    if x==0:
        break

print('Сумма = ', nums_sum)
print('Количество = ',nums_count)

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите число. 1
Введите новое число. 2
Введите новое число. 3
Введите новое число. 4
Введите новое число. 0
Сумма =  10
Количество =  4

№ 4.2.18

Предложение, введенное с клавиатуры, содержит слова из гласных и согласных букв кириллицы (регистр может быть различный), а также пробелы.

Определите количество гласных и согласных букв в предложении. Для пропуска пробелов используйте оператор continue.

In [18]:
sentence = input('Введите предложение: ')

gl = 0  # Кол-во гласных
sogl = 0  # Кол-во согласных
probel = 0

for x in sentence: # Ввожу доп.условие на гласные в основном условии и согласные в else
    sth = x.lower()
    if sth == "а" or sth == "я" or sth == "у" or\
      sth == "ю" or sth == "о" or sth == "е" or\
      sth == "ё" or sth == "э" or sth == "и" or\
      sth == "ы":
      gl += 1
    elif sth == " ":
      probel += 1
    else:
      sogl += 1

s1 = "Гласных"
s2 = "Согласных"
print('Кол-во букв в предложении: ', "{} {}, {} {}".format(s1, gl, s2, sogl))

# --------------
# Пример вывода:
#
# Введите предложение: Программирование
# Кол-во букв в предложении: гласных - 7, согласных - 9

Введите предложение: Программирование
Кол-во букв в предложении:  Гласных 7, Согласных 9

№ 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [19]:
a = int(input("Введите первое число: "))
b = int(input("Введите второе число: "))
c = int(input("Введите третье число: "))

g = list()

for y in range(a,b+1):
    if y%c==0:
        g.append(y)

print(g)


# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

Введите первое число: 1
Введите второе число: 10
Введите третье число: 2
[2, 4, 6, 8, 10]

№ 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [20]:
n = int(input('Введите число: '))

g = list()

for x in range(100, 1000): #Проверка 3-значных чисел от 100 до 999 включительно
    a = sum(int(e) for e in str(x))
    if a==n:
        g.append(x)

print(g)

# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

Введите число: 3
[102, 111, 120, 201, 210, 300]

№ 4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [22]:
n = int(input('Введите количество учеников: '))

a = 0
b = 0
c = 0
f = 1

for x in range(n):
    rost = int(input('Введите значение роста ученика: '))
    f += 1
    if rost<0:
        a += 1
        b -= rost
    else:
        c += rost

r_sr_m = b / a
r_sr_d = c / (n - a)

print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))

# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

Введите количество учеников: 5
Введите значение роста ученика: 150
Введите значение роста ученика: -150
Введите значение роста ученика: 160
Введите значение роста ученика: 170
Введите значение роста ученика: 180
Средний рост мальчиков: 150.0
Средний рост девочек: 165.0

№ 4.2.24

Дано n вещественных чисел. Определите, является ли последовательность упорядоченной по возрастанию. В случае отрицательного ответа выведите порядковый номер числа, нарушающего такую упорядоченность.

In [24]:
n = int(input('Введите количество чисел: '))
g = []

for x in range(1, n+1):
  a = float(input(f'{x}-е число = '))
  g.append(a)

f = bool()
for x in range(1,n):
  if g[x-1] >=g[x]:
    f = False
    break
  else:
    f = True
if f == True:
  print('Является')
else:
  print(x)

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 2
# 2-е число = 4.6
# 3-е число = 6
# 4-е число = 8.3
# Является
#
# n = 3
# 1-е число = 3
# 2-е число = 3
# 2

Введите количество чисел: 4
1-е число = 2
2-е число = 4.6
3-е число = 6
4-е число = 8.3
Является

№ 4.2.25

Выведите на экран таблицу умножения на 𝑛
n
 (2<𝑛≤9
2
<
n
≤
9
) в виде:

In [27]:
n = int(input('Введите целое число: '))

for x in range(1, n+1):
    for y in range(1, n+1):
        print(f'{x} * {y} = {x * y}\t', end=' ')
    print('')
# --------------
# Пример вывода:
#
# n = 5
# 1 * 1 =  1  1 * 2 =  2  1 * 3 =  3  1 * 4 =  4  1 * 5 =  5
# 2 * 1 =  2  2 * 2 =  4  2 * 3 =  6  2 * 4 =  8  2 * 5 = 10
# 3 * 1 =  3  3 * 2 =  6  3 * 3 =  9  3 * 4 = 12  3 * 5 = 15
# 4 * 1 =  4  4 * 2 =  8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20
# 5 * 1 =  5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25

Введите целое число: 8
1 * 1 = 1	 1 * 2 = 2	 1 * 3 = 3	 1 * 4 = 4	 1 * 5 = 5	 1 * 6 = 6	 1 * 7 = 7	 1 * 8 = 8
2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6	 2 * 4 = 8	 2 * 5 = 10	 2 * 6 = 12	 2 * 7 = 14	 2 * 8 = 16
3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9	 3 * 4 = 12	 3 * 5 = 15	 3 * 6 = 18	 3 * 7 = 21	 3 * 8 = 24
4 * 1 = 4	 4 * 2 = 8	 4 * 3 = 12	 4 * 4 = 16	 4 * 5 = 20	 4 * 6 = 24	 4 * 7 = 28	 4 * 8 = 32
5 * 1 = 5	 5 * 2 = 10	 5 * 3 = 15	 5 * 4 = 20	 5 * 5 = 25	 5 * 6 = 30	 5 * 7 = 35	 5 * 8 = 40
6 * 1 = 6	 6 * 2 = 12	 6 * 3 = 18	 6 * 4 = 24	 6 * 5 = 30	 6 * 6 = 36	 6 * 7 = 42	 6 * 8 = 48
7 * 1 = 7	 7 * 2 = 14	 7 * 3 = 21	 7 * 4 = 28	 7 * 5 = 35	 7 * 6 = 42	 7 * 7 = 49	 7 * 8 = 56
8 * 1 = 8	 8 * 2 = 16	 8 * 3 = 24	 8 * 4 = 32	 8 * 5 = 40	 8 * 6 = 48	 8 * 7 = 56	 8 * 8 = 64

№ 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

• числа от минимального до максимального в строчку (разделяя пробелом);

• числа от максимального до минимального «столбиком».

In [28]:
a = int(input('Введите первое число: '))
b = int(input('Введите второе число: '))

ls = list(range(a,b+1,1))
print(ls)


ls.reverse()
print("\n".join(map(str, ls))) #join воссоединяет все элементы списка, map применяет их ко всем элементам.

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

Введите первое число: 1
Введите второе число: 5
[1, 2, 3, 4, 5]
5
4
3
2
1

№ 4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

• пробег лыжника за второй, третий, …, десятый день тренировок;

• какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [29]:
s = float(input('Введите кол-во км в первый день: '))
p = float(input('Введите процент увеличения нагрузки: '))

tot = list() #Вводим список
tot.append(s) #Вводим в список первую пробежку

g = 0 #Вводим пару переменных 
f = 1
for x in range(9): #Делаем цикл на 10 действий
    s = ((s*(p/100))+s)+0.0001
    f += 1
    tot.append(s)
    print('Пробег за',f,'день: ', round(s,1), 'км.')

total = sum(tot)
print("Суммарный пробег: ", round(total,1))

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

Введите кол-во км в первый день: 5
Введите процент увеличения нагрузки: 10
Пробег за 2 день:  5.5 км.
Пробег за 3 день:  6.1 км.
Пробег за 4 день:  6.7 км.
Пробег за 5 день:  7.3 км.
Пробег за 6 день:  8.1 км.
Пробег за 7 день:  8.9 км.
Пробег за 8 день:  9.7 км.
Пробег за 9 день:  10.7 км.
Пробег за 10 день:  11.8 км.
Суммарный пробег:  79.7

№ 4.2.26

Выведите графическое изображения делимости чисел от 1 до n (значение n вводится с клавиатуры) - в каждой строке напечатайте очередное число и столько символов *, сколько делителей у этого числа.

Например, если n=4, на экране должно быть напечатано:

1 *

2 **

3 **

4 ***

In [30]:
n = int(input('Введите число: '))

for f in range(2,n+1):
    a = 2
    g = 2
    while (g*g<=f):
        if f%g==0:
            a += 1
            b = f//g
            if b != g:
                a += 1
        g += 1
        
    print(f,a*"*")


# --------------
# Пример вывода:
#
# n = 10
# 1 *
# 2 **
# 3 **
# 4 ***
# 5 **
# 6 ****
# 7 **
# 8 ****
# 9 ***
# 10 ****

Введите число: 10
2 **
3 **
4 ***
5 **
6 ****
7 **
8 ****
9 ***
10 ****