<a href="https://colab.research.google.com/github/MazyVermoh/osnovy_programming/blob/main/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

№ 5.2.1![E08E7057-4B26-4DF2-AE15-D367778EB008.png]()![82C43AC4-FFD4-4656-95E2-6033982F4263.png]()

Определите значение, где sgn - сигнум-функция, а x и y - вещественные числа:

In [ ]:
from math import *

In [ ]:
def input_data():

  return (float(x) for x in input('Введитеx x, y: ').split())


def sgn(a):
  if a > 0:
    res = 1
    return res
  elif a < 0:
      res = -1
      return res
  elif a == 0:
      res = 0
      return res

def znachenie(a,b):

  if (a==0 and b == 0 or abs(a)==abs(b) or abs(a) - abs(b)==1):
    return
  z = (sgn(a)+b**2)/(sgn(b)-sqrt(abs(a)))
  return z

def print_res(res): 
  if res:
    print('Ответ: {:.2f}' .format(res))
  else:
      print('Проверить ОДЗ')

In [ ]:
x, y = input_data()
res = znachenie(x, y)
print_res(res)

Введитеx x, y: -9 0
Ответ: 0.33

№ 5.2.2

Дан список температурных изменений в течение дня (целые числа). Известно, что измеряющее устройство иногда сбоит и записывает отсутствие температуры (значение None).

Выведите среднюю температуру за наблюдаемый промежуток времени, предварительно очистив список от неопределенных значений. Гарантируется, что хотя бы одно определенное значение в списке есть.

In [ ]:
def input_data():
  for i in range(n):
    dimension = input('измерение {}-е: ' .format(i + 1))
    if dimension == '-':
      data.append(None)
    else:
      data.append(int(dimension))
    i += 1

def avg(new_data):
  return sum(new_data) / len(new_data)

def cleared_data(data):
  new_data = []
  for x in data:
    if x != None:
      new_data.append(x)
  return new_data

def print_res2():
  z=avg(cleared_data(data))
  print('Средняя температура: {:.2f}' .format(z))

In [ ]:
n = int(input('Кол-во измерений: '))
data = []

input_data()

print_res2()

Кол-во измерений: 3
измерение 1-е: 10
измерение 2-е: -
измерение 3-е: 20
Средняя температура: 15.00

№ 5.2.3

Выведите все счастливые номера билетов в диапазоне от a до b (положительные целые числа, a<b), если известно, что счастливым считается номер, у которого количество четных цифр равно количеству нечетных.

In [ ]:
def input_data():

 return (int(x) for x in input('Введите первый номер и последний номер билета: ').split())

def is_lucky(num):
  even = 0
  odd = 0
  for i in map(int, str(num)):
      if i % 2 ==0:
          even += 1
      else:
           odd += 1
  if even == odd:
      lucky_num.append(num)
  else:
      pass

def lucky_numbers(a,b):
  num = a
  while num in range(a,b + 1):
    is_lucky(num)
    if num in lucky_num:
        lk_num.append(num)
        num += 1
    else:
        num += 1

  return lk_num

In [ ]:
lucky_num=[]
number=[]
lk_num=[]

a,b = input_data()
print(lucky_numbers(a,b))

Введите первый номер и последний номер билета: 10 25
[10, 12, 14, 16, 18, 21, 23, 25]

№ 5.2.4

Дата характеризуется тремя натуральными числами: день, месяц и год. Учитывая, что год может быть високосным, реализуйте две функции, которые определяют вчерашнюю и завтрашнюю дату.

In [ ]:
def is_leap(year):
  if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    febrary_day = 29
  else:
    febrary_day = 28
  return febrary_day

def days(month, year):
  month_day_31 = [1,3,5,7,8,10,12]
  month_dat_30 = [4,6,9,11]
  if month in month_day_31:
    date = 31
  elif month in month_day_30:
    date = 30
  else:
    date = is_leap(year)
  return date

def previous_date(day, month, year):
    if day == 1:
      month -= 1
      if month == 0:
        year -= 1
        month = 12
      else:
        year = year
        month = month
    else:
      day -= 1
      month = month 
      year = year 
    return day, month, year
def next_date(day, month, year):
  if day == days(month, year):
    month += 1
    if month == 13:
      month = 1
      year += 1
      day = 1
    else:
        month = month
        year = year
  else:
    day += 1
    month = month
    year = year

  return day, month, year

In [ ]:
day, month, year = input("День, месяц, год через пробел: ").split()
day = int(day)
month = int(month)
year = int(year)
print("Предыдущий день: ", previous_date(day, month, year))
print("Следующий день: ", next_date(day, month, year))

День, месяц, год через пробел: 21 10 2022
Предыдущий день:  (20, 10, 2022)
Следующий день:  (22, 10, 2022)

№ 5.2.7

Даны n предложений. Определите, сколько из них содержат хотя бы одну цифру.

In [8]:
def has_numbers(sentence):
    sentences = 0
    sentence_list = list(map(str, sentence))
    numbers = '123456789'
    numbers = list(map(str, numbers))
    for y in numbers:
        if y in sentence_list:
            sentences += 1
    return sentences


def sentences_with_numbers_count(sentences):
    print(f'Предложений с цифрой = {sentences}')

In [9]:
n = int(input('Введите количество предложений: '))
sentences = 0
amount = 0

for x in range(n):
  sentence1 = input(f'Введите предложение №{x+1}: ')
  f = has_numbers(sentence1)
  if f == 1:
    amount += 1

sentences_with_numbers_count(amount)

# --------------
# Пример вывода:
#
# Введите количество предложений: 3
# Введите предложение №1:
# Просто текст
# Введите предложение №2:
# Текст с цифрой 1 (один)
# Введите предложение №3:
# Тут нет цифры
# Предложений с цифрой = 1

Введите количество предложений: 3
Введите предложение №1: Просто текст
Введите предложение №2: Текст с цифрой 1 (один)
Введите предложение №3: Тут нет цифры
Предложений с цифрой = 1

№ 5.2.8

Дана строка s и символ k. Реализуйте функцию, рисующую рамку из символа k вокруг данной строки.

In [ ]:
def print_with_border(s, k):
  s_len = len(s)
  print(k * (s_len + 2))
  print(k + s + k)
  print(k * (s_len + 2))

In [ ]:
s = input("Введите строку: ")
k = input("Введите символ: ")
print_with_border(s, k)

Введите строку: привет
Введите символ: *
********
*привет*
********

№ 5.2.9

Напишите функции для перевода числа (N∈[2;16]):

• из 10-й системы счисления в N-ю;

• из N-й системы счисления в 10-ю.

In [14]:
numbers_all = '0123456789ABCDEF'

def to_system(number, system):
  f = ''
  while number>0:
    new = number % system
    f = numbers_all[new] + f
    number = number // system
  return f

def from_system(number, system):
    f = ''
    n = 0
    done = 0
    while number >= 1:
      new1 = number%10 * (system ** n)
      n += 1
      done += new1
      number = number // 10
    return done

In [16]:
a = to_system(10, 3)
b = from_system(1010, 3)

print(a)
print(b)
# --------------
# Пример вывода:
#
# Нет

101
30

№ 5.2.11

Используя шифр Цезаря (достаточно только букв русского алфавита, знаки препинания не изменяются), зашифруйте, а затем расшифруйте введенную строку.

In [ ]:
def input_data():
  smeshenie = int(input("Шаг шифровки: "))
  message = input("Введите сообщение: ").upper()
  return Cezar(message, smeshenie)

def Cezar(message, smeshenie):
  alfavit = "АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ"
  itog = ""
  for i in message:
    mesto = alfavit.find(i)
    new_mesto = mesto + smeshenie
    if i in alfavit:
      itog += alfavit[new_mesto]
    else:
      itog += 1
  return itog

def print_res(res):
  if res:
    print(res)
  else:
    print("Что-то пошло не так")

In [ ]:
res=input_data()
print_res(res)

Шаг шифровки: 2
Введите сообщение: АБВ
ВГД

№ 5.2.16

Составьте две функции для возведения числа в степень: один из вариантов реализуйте в рекурсивном стиле.

In [ ]:
def NumPowRecursion(a, n):
  return 1 if n == 0 else a * NumPowRecursion(a, n - 1)

In [ ]:
def NumPowIter(a, n):
  res = a
  while n - 1 > 0:
    res = res*a
    n -= 1
  return res

In [ ]:
import time
a = 2
n = 700
start_time = time.time()
print(NumPowRecursion(a, n), (time.time() - start_time))

5260135901548373507240989882880128665550339802823173859498280903068732154297080822113666536277588451226982968856178217713019432250183803863127814770651880849955223671128444598191663757884322717271293251735781376 0.001318216323852539

In [ ]:
import time 
a = 2
n = 700
start_time = time.time()
print(NumPowIter(a, n), (time.time() - start_time))

5260135901548373507240989882880128665550339802823173859498280903068732154297080822113666536277588451226982968856178217713019432250183803863127814770651880849955223671128444598191663757884322717271293251735781376 0.00025725364685058594

№ 5.2.17

Дано натуральное число. Напишите рекурсивные функции для определения:

• суммы цифр числа;

• количества цифр в числе.

In [10]:
def numbers_sum(value):
  if value == 0:
    return 0
  else:
    return (value%10) + numbers_sum(value//10) 



def numbers_count(value):
  if value == 1:
    return 1
  else:
    return value**0 + numbers_count(value//10)

In [12]:
print(numbers_sum(12345))
print(numbers_count(12345))

# --------------
# Пример вывода:
#
# 15
# 5

15
5